<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Products</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"
        integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <h1>Real-Time Products</h1>
    <ul id="productList">
        {{#each products}}
        <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        const socket = io();


        socket.on('updateProducts', (products) => {
            updateProductList(products);
        });


        function updateProductList(products) {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - ${product.price}`;
                productList.appendChild(li);
            });
        }

        socket.on('productAdded', (newProduct) => {
              const productList = document.getElementById('productList');
        const productItem = document.createElement('li');
        productItem.textContent = `${newProduct.title} - ${newProduct.price}`;
        productList.appendChild(productItem);
    });
        

        socket.on('productDeleted', (deletedProductId) => {
            const productList = document.getElementById('productList');
        const productItem = document.getElementById(`product_${deletedProductId}`);
        if (productItem) {
            productList.removeChild(productItem);
            }
        });
    </script>
</body>

</html>